.navegacao {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  background-color: #060a09;
}

.link {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--branco);
}

.linkDestacado {
  text-decoration: underline;
}

@media (max-width: 744px) {
  .navegacao {
    height: 48px;
  }
}
