.rodape {
  background-color: var(--cor-escura);
  color: var(--branco);
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  gap: 25px;
  height: 60px;
}

.rodape p {
  cursor: default;
}

.logos {
  display: flex;
  gap: 7px;
}

.rodape img {
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease;
}

.rodape img:hover {
  transform: scale(1.2);
}

@media (max-width: 480px) {
  .rodape {
    height: 40px;
  }

  .rodape img {
    width: 25px;
    height: 25px;
  }
}