.sobreMim {
  padding: 1rem 5rem;
}

.fotoSobreMim {
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  width: 30vw;
  float: right;
  border-radius: 30px;
}

.titulo {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.paragrafo {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 1100px) {
  .fotoSobreMim {
    float: none;
    display: block;
    margin: 0 auto 2rem;
    width: 70vw;
  }

  .paragrafo {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .sobreMim {
    padding: 0 2rem;
  }

  .fotoSobreMim {
    width: 100%;
  }

  .titulo {
    margin-bottom: 10px;
    font-size: 1.8rem;
    text-align: center;
  }

  .paragrafo {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.9rem;
  }
}
