.banner {
  padding: 2rem 5rem 6rem;
  background-image: url("../../assets/fotonote1.jpg");
  background-size: 230vh;
  background-repeat: no-repeat;
  background-position-y: -280px;
  color: var(--branco);
  height: 440px;
  display: flex;
}

.apresentacao {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-family: var(--fonte-secundaria);
  font-size: 2rem;
}

.paragrafo {
  font-family: var(--fonte-secundaria);
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .banner {
    height: 400px;
    padding: 0 2rem;
    background-position-x: -250px;
    margin-bottom: 10px;
    justify-content: center;
  }

  .apresentacao {
    width: 300px;
    text-align: center;
  }

  .titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.9rem;
  }

  .paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 0;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  /* Ajustes específicos para iPhone XR */
  .banner {
    background-size: 150vh;
  }
}
