.banner {
  padding: 2rem 5rem 6rem;
  background-image: url("../../assets/fotonote1.jpg");
  background-size: 230vh;
  background-repeat: no-repeat;
  background-position-y: -280px;
  color: var(--branco);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 440px;
}

.apresentacao {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-family: var(--fonte-secundaria);
  font-size: 2rem;
}

.paragrafo {
  font-family: var(--fonte-secundaria);
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .banner {
    padding: 1rem 2rem;
    background-position-x: -250px;
    margin-bottom: 10px;
  }

  .apresentacao {
    width: 300px;
    text-align: center;
  }

  .titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.9rem;
  }

  .paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 0;
  }
}
